@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
}

body {
  background: #1F1517;
  color: #fff;
}

a {
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

nav {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1.5rem 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
}

.menu a {
  color: #FFF2E780;
}

.logo {
  font-family: Teko;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.Github {
  color: #FFF2E7;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
}

.principal {
  background: #181012;
}

.hero {

  max-width: 1120px;
  height: 60vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;

  padding: 0rem 2rem;
  margin: auto;
  overflow: clip;
}

.hero-conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destaque {
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.marrom {
  color: #A45A49;
}

hr {
  border-color: #A45A49;
}

h1 {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;

}

.hero-imagens-container {
  max-width: 45%;
  column-count: 4;
  column-gap: 1em;
  margin: -1rem;
}

.hero-imagens-container>figure>img {
  width: 100%;
  border-radius: 0.5rem;
}